.box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 1600px;
  max-height: 750px;
  margin: auto;
  background-color: #15171f;
  border-radius: 42px;
  border: #de8e14 solid 10px;
}

body {
  position: center;
  margin: 0;
  margin-top: 100px;
  padding: 150px;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(253, 178, 33, 255) 0%,
    rgba(253, 178, 33, 255) 50%,
    rgba(28, 32, 42, 255) 50%,
    rgba(28, 32, 42, 255) 100%
  );
}

.nav {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  background: linear-gradient(
    131deg,
    rgba(28, 33, 43, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  padding: 17px;
  padding-inline-start: 80px;
  padding-right: 350px;
}

.home {
  font-size: 12px;
  color: orange;
  font-family: verdana;
}
.nav {
  color: white;
}
.home2 {
  font-size: 12px;
  color: white;
  font-family: verdana;
}
